<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verifications/receipt.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.9/purify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" defer></script>
</head>

<body>
    <main class="to-print">
        <div class="details">
            <div>
                <p><strong>Contribution Name:</strong> {{ data.contribution_name }}</p>
            </div>
            <div>
                <p><strong>Block Representative Name:</strong> {{ data.block_rep }}</p>
            </div>
            <div>
                <p><strong>Date:</strong> {{ data.verification_date }}</p>
            </div>
            <div>
                <p><strong>Program Code:</strong> {{ data.program_code }}</p>
            </div>
            <div>
                <p><strong>Year Level:</strong> {{ data.year_level }}</p>
            </div>
            <div>
                <p><strong>Total Amount:</strong> {{ data.total_amount }}</p>
            </div>
        </div>
        <hr>

        <input type="button" value="Create PDF" />
        <form action="{{ url_for('verifications.index') }}" method="get">
            <button type="submit">Go Back</button>
        </form>
        <div class="receipt-container">
            <h2>Receipt</h2>
            <div class="card-container">
                {% for s in range(0, data.count) %}
                <div class="card" id="receipts">
                    <!-- Left Column -->
                    <div class="left-column">
                        <img src="{{ url_for('static', filename='images/icons/ccs_logo.png') }}" alt="CCS Logo">
                        <p>ID #: {{ data.student_ids[s] }}</p>
                        <p>Name: {{ data.student_names[s] }}</p>
                        <p>Course: {{ data.program_code }}</p>
                        <p>Date: {{ data.verification_date }}</p>
                    </div>

                    <!-- Right Column -->
                    <div class="right-column">
                        <div class="header-container">
                            <img src="{{ url_for('static', filename='images/icons/ccs_logo.png') }}" alt="CCS Logo">
                            <h2>Certificate of Payment</h2>
                        </div>
                        <br>
                        <p>This serves as a certificate of payment for {{ data.academic_year }} {{ data.contribution_name }}</p>
                        <p>(___) CCS-Executive Council Contribution Fee</p>

                        <div class="information">
                            <p>ID #: {{ data.student_ids[s] }}</p>
                            <p>Name: {{ data.student_names[s] }}</p>
                            <p>Course: {{ data.program_code }}</p>
                            <p>Date: {{ data.verification_date }}</p>
                        </div>

                        <div class="signature">
                            <div class="signature-line"></div>
                            <p>Signature over Printed Name</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    <script type="application/json" id="data-json">
        {{ data | tojson }}
    </script>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/verifications/generateReceipts.js') }}"></script>
</body>

</html>