<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <main>
        <form action="{{ url_for('login') }}" method="post">
            <h1>Login</h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <label for="code">Enter Organization Code</label>
            <input type="text" id="code" name="code" placeholder="Access Code" required>
            
            <button type="submit">Login</button>
            
            <div class="form-footer">Forgot your code? Contact Me</div>
        </form>
    </main>
</body>
</html>
