{% extends "master.html" %}

{% block info %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

<div class="form-container">
    <!-- Profile Form -->
    <div class="form-card">
        <h2 class="form-title">Profile</h2>
        <label for="organization-code">Organization Code</label>
        <input type="text" id="organization-code" name="organization-code" value="{{ data.code }}" readonly>

        <label for="organization-name">Organization Name</label>
        <input type="text" id="organization-name" name="organization-name" value="{{ data.name }}" readonly>

        <label for="organization-email">Organization Email</label>
        <input type="text" id="organization-email" name="organization-email" value="{{ data.email }}" readonly>
    </div>

    <!-- Contribution Form -->
    <div class="form-card">
        <h2 class="form-title">Edit Contribution</h2>
        <form action="{{ url_for('profile') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="fcontribution-name">First Contribution Name</label>
            <input type="text" id="fcontribution-name" name="fcontribution-name" value="{{ data.fcon_name }}">

            <label for="fcontribution-amount">First Contribution Amount</label>
            <input type="number" id="fcontribution-amount" name="fcontribution-amount" value="{{ data.fcon_amount }}" {% if data.fcon_amount != 0 %}readonly{% endif %}>

            <label for="scontribution-name">Second Contribution Name</label>
            <input type="text" id="scontribution-name" name="scontribution-name" value="{{ data.scon_name }}">

            <label for="scontribution-amount">Second Contribution Amount</label>
            <input type="number" id="scontribution-amount" name="scontribution-amount" value="{{ data.scon_amount }}" {% if data.scon_amount != 0 %}readonly{% endif %}>

            <button type="submit">Edit Contribution</button>
        </form>
    </div>
</div>
{% endblock %}
